/*
 * Copyright 2017 Firefly Semantics Corporation
 * Copyright 2017 SuperflyCSS
 * Copyright 2017 Ole Ersoy
 */

/*! superflycss-variables-html-entities | MIT License | https://github.com/superflycss/variables-html-entities/blob/master/LICENSE.md */
:root { 
  --character-tabulation: 00009;
  --line-feed: 0000A;
  --exclamation-mark: 00021;
  --quotation-mark: 00022;
  --number-sign: 00023;
  --dollar-sign: 00024;
  --percent-sign: 00025;
  --ampersand: 00026;
  --apostrophe: 00027;
  --left-parenthesis: 00028;
  --right-parenthesis: 00029;
  --asterisk: 0002A;
  --plus-sign: 0002B;
  --comma: 0002C;
  --full-stop: 0002E;
  --solidus: 0002F;
  --colon: 0003A;
  --semicolon: 0003B;
  --less-than-sign: 0003C;
  --equals-sign: 0003D;
  --greater-than-sign: 0003E;
  --question-mark: 0003F;
  --commercial-at: 00040;
  --left-square-bracket: 0005B;
  --reverse-solidus: 0005C;
  --right-square-bracket: 0005D;
  --circumflex-accent: 0005E;
  --low-line: 0005F;
  --grave-accent: 00060;
  --left-curly-bracket: 0007B;
  --vertical-line: 0007C;
  --right-curly-bracket: 0007D;
  --no-break-space: 000A0;
  --inverted-exclamation-mark: 000A1;
  --cent-sign: 000A2;
  --pound-sign: 000A3;
  --currency-sign: 000A4;
  --yen-sign: 000A5;
  --broken-bar: 000A6;
  --section-sign: 000A7;
  --diaeresis: 000A8;
  --copyright-sign: 000A9;
  --feminine-ordinal-indicator: 000AA;
  --left-pointing-double-angle-quotation-mark: 000AB;
  --not-sign: 000AC;
  --soft-hyphen: 000AD;
  --registered-sign: 000AE;
  --macron: 000AF;
  --degree-sign: 000B0;
  --plus-minus-sign: 000B1;
  --superscript-two: 000B2;
  --superscript-three: 000B3;
  --acute-accent: 000B4;
  --micro-sign: 000B5;
  --pilcrow-sign: 000B6;
  --middle-dot: 000B7;
  --cedilla: 000B8;
  --superscript-one: 000B9;
  --masculine-ordinal-indicator: 000BA;
  --right-pointing-double-angle-quotation-mark: 000BB;
  --vulgar-fraction-one-quarter: 000BC;
  --vulgar-fraction-one-half: 000BD;
  --vulgar-fraction-three-quarters: 000BE;
  --inverted-question-mark: 000BF;
  --latin-capital-letter-a-with-grave: 000C0;
  --latin-capital-letter-a-with-acute: 000C1;
  --latin-capital-letter-a-with-circumflex: 000C2;
  --latin-capital-letter-a-with-tilde: 000C3;
  --latin-capital-letter-a-with-diaeresis: 000C4;
  --latin-capital-letter-a-with-ring-above: 000C5;
  --latin-capital-letter-ae: 000C6;
  --latin-capital-letter-c-with-cedilla: 000C7;
  --latin-capital-letter-e-with-grave: 000C8;
  --latin-capital-letter-e-with-acute: 000C9;
  --latin-capital-letter-e-with-circumflex: 000CA;
  --latin-capital-letter-e-with-diaeresis: 000CB;
  --latin-capital-letter-i-with-grave: 000CC;
  --latin-capital-letter-i-with-acute: 000CD;
  --latin-capital-letter-i-with-circumflex: 000CE;
  --latin-capital-letter-i-with-diaeresis: 000CF;
  --latin-capital-letter-eth: 000D0;
  --latin-capital-letter-n-with-tilde: 000D1;
  --latin-capital-letter-o-with-grave: 000D2;
  --latin-capital-letter-o-with-acute: 000D3;
  --latin-capital-letter-o-with-circumflex: 000D4;
  --latin-capital-letter-o-with-tilde: 000D5;
  --latin-capital-letter-o-with-diaeresis: 000D6;
  --multiplication-sign: 000D7;
  --latin-capital-letter-o-with-stroke: 000D8;
  --latin-capital-letter-u-with-grave: 000D9;
  --latin-capital-letter-u-with-acute: 000DA;
  --latin-capital-letter-u-with-circumflex: 000DB;
  --latin-capital-letter-u-with-diaeresis: 000DC;
  --latin-capital-letter-y-with-acute: 000DD;
  --latin-capital-letter-thorn: 000DE;
  --latin-small-letter-sharp-s: 000DF;
  --latin-small-letter-a-with-grave: 000E0;
  --latin-small-letter-a-with-acute: 000E1;
  --latin-small-letter-a-with-circumflex: 000E2;
  --latin-small-letter-a-with-tilde: 000E3;
  --latin-small-letter-a-with-diaeresis: 000E4;
  --latin-small-letter-a-with-ring-above: 000E5;
  --latin-small-letter-ae: 000E6;
  --latin-small-letter-c-with-cedilla: 000E7;
  --latin-small-letter-e-with-grave: 000E8;
  --latin-small-letter-e-with-acute: 000E9;
  --latin-small-letter-e-with-circumflex: 000EA;
  --latin-small-letter-e-with-diaeresis: 000EB;
  --latin-small-letter-i-with-grave: 000EC;
  --latin-small-letter-i-with-acute: 000ED;
  --latin-small-letter-i-with-circumflex: 000EE;
  --latin-small-letter-i-with-diaeresis: 000EF;
  --latin-small-letter-eth: 000F0;
  --latin-small-letter-n-with-tilde: 000F1;
  --latin-small-letter-o-with-grave: 000F2;
  --latin-small-letter-o-with-acute: 000F3;
  --latin-small-letter-o-with-circumflex: 000F4;
  --latin-small-letter-o-with-tilde: 000F5;
  --latin-small-letter-o-with-diaeresis: 000F6;
  --division-sign: 000F7;
  --latin-small-letter-o-with-stroke: 000F8;
  --latin-small-letter-u-with-grave: 000F9;
  --latin-small-letter-u-with-acute: 000FA;
  --latin-small-letter-u-with-circumflex: 000FB;
  --latin-small-letter-u-with-diaeresis: 000FC;
  --latin-small-letter-y-with-acute: 000FD;
  --latin-small-letter-thorn: 000FE;
  --latin-small-letter-y-with-diaeresis: 000FF;
  --latin-capital-letter-a-with-macron: 00100;
  --latin-small-letter-a-with-macron: 00101;
  --latin-capital-letter-a-with-breve: 00102;
  --latin-small-letter-a-with-breve: 00103;
  --latin-capital-letter-a-with-ogonek: 00104;
  --latin-small-letter-a-with-ogonek: 00105;
  --latin-capital-letter-c-with-acute: 00106;
  --latin-small-letter-c-with-acute: 00107;
  --latin-capital-letter-c-with-circumflex: 00108;
  --latin-small-letter-c-with-circumflex: 00109;
  --latin-capital-letter-c-with-dot-above: 0010A;
  --latin-small-letter-c-with-dot-above: 0010B;
  --latin-capital-letter-c-with-caron: 0010C;
  --latin-small-letter-c-with-caron: 0010D;
  --latin-capital-letter-d-with-caron: 0010E;
  --latin-small-letter-d-with-caron: 0010F;
  --latin-capital-letter-d-with-stroke: 00110;
  --latin-small-letter-d-with-stroke: 00111;
  --latin-capital-letter-e-with-macron: 00112;
  --latin-small-letter-e-with-macron: 00113;
  --latin-capital-letter-e-with-dot-above: 00116;
  --latin-small-letter-e-with-dot-above: 00117;
  --latin-capital-letter-e-with-ogonek: 00118;
  --latin-small-letter-e-with-ogonek: 00119;
  --latin-capital-letter-e-with-caron: 0011A;
  --latin-small-letter-e-with-caron: 0011B;
  --latin-capital-letter-g-with-circumflex: 0011C;
  --latin-small-letter-g-with-circumflex: 0011D;
  --latin-capital-letter-g-with-breve: 0011E;
  --latin-small-letter-g-with-breve: 0011F;
  --latin-capital-letter-g-with-dot-above: 00120;
  --latin-small-letter-g-with-dot-above: 00121;
  --latin-capital-letter-g-with-cedilla: 00122;
  --latin-capital-letter-h-with-circumflex: 00124;
  --latin-small-letter-h-with-circumflex: 00125;
  --latin-capital-letter-h-with-stroke: 00126;
  --latin-small-letter-h-with-stroke: 00127;
  --latin-capital-letter-i-with-tilde: 00128;
  --latin-small-letter-i-with-tilde: 00129;
  --latin-capital-letter-i-with-macron: 0012A;
  --latin-small-letter-i-with-macron: 0012B;
  --latin-capital-letter-i-with-ogonek: 0012E;
  --latin-small-letter-i-with-ogonek: 0012F;
  --latin-capital-letter-i-with-dot-above: 00130;
  --latin-small-letter-dotless-i: 00131;
  --latin-capital-ligature-ij: 00132;
  --latin-small-ligature-ij: 00133;
  --latin-capital-letter-j-with-circumflex: 00134;
  --latin-small-letter-j-with-circumflex: 00135;
  --latin-capital-letter-k-with-cedilla: 00136;
  --latin-small-letter-k-with-cedilla: 00137;
  --latin-small-letter-kra: 00138;
  --latin-capital-letter-l-with-acute: 00139;
  --latin-small-letter-l-with-acute: 0013A;
  --latin-capital-letter-l-with-cedilla: 0013B;
  --latin-small-letter-l-with-cedilla: 0013C;
  --latin-capital-letter-l-with-caron: 0013D;
  --latin-small-letter-l-with-caron: 0013E;
  --latin-capital-letter-l-with-middle-dot: 0013F;
  --latin-small-letter-l-with-middle-dot: 00140;
  --latin-capital-letter-l-with-stroke: 00141;
  --latin-small-letter-l-with-stroke: 00142;
  --latin-capital-letter-n-with-acute: 00143;
  --latin-small-letter-n-with-acute: 00144;
  --latin-capital-letter-n-with-cedilla: 00145;
  --latin-small-letter-n-with-cedilla: 00146;
  --latin-capital-letter-n-with-caron: 00147;
  --latin-small-letter-n-with-caron: 00148;
  --latin-small-letter-n-preceded-by-apostrophe: 00149;
  --latin-capital-letter-eng: 0014A;
  --latin-small-letter-eng: 0014B;
  --latin-capital-letter-o-with-macron: 0014C;
  --latin-small-letter-o-with-macron: 0014D;
  --latin-capital-letter-o-with-double-acute: 00150;
  --latin-small-letter-o-with-double-acute: 00151;
  --latin-capital-ligature-oe: 00152;
  --latin-small-ligature-oe: 00153;
  --latin-capital-letter-r-with-acute: 00154;
  --latin-small-letter-r-with-acute: 00155;
  --latin-capital-letter-r-with-cedilla: 00156;
  --latin-small-letter-r-with-cedilla: 00157;
  --latin-capital-letter-r-with-caron: 00158;
  --latin-small-letter-r-with-caron: 00159;
  --latin-capital-letter-s-with-acute: 0015A;
  --latin-small-letter-s-with-acute: 0015B;
  --latin-capital-letter-s-with-circumflex: 0015C;
  --latin-small-letter-s-with-circumflex: 0015D;
  --latin-capital-letter-s-with-cedilla: 0015E;
  --latin-small-letter-s-with-cedilla: 0015F;
  --latin-capital-letter-s-with-caron: 00160;
  --latin-small-letter-s-with-caron: 00161;
  --latin-capital-letter-t-with-cedilla: 00162;
  --latin-small-letter-t-with-cedilla: 00163;
  --latin-capital-letter-t-with-caron: 00164;
  --latin-small-letter-t-with-caron: 00165;
  --latin-capital-letter-t-with-stroke: 00166;
  --latin-small-letter-t-with-stroke: 00167;
  --latin-capital-letter-u-with-tilde: 00168;
  --latin-small-letter-u-with-tilde: 00169;
  --latin-capital-letter-u-with-macron: 0016A;
  --latin-small-letter-u-with-macron: 0016B;
  --latin-capital-letter-u-with-breve: 0016C;
  --latin-small-letter-u-with-breve: 0016D;
  --latin-capital-letter-u-with-ring-above: 0016E;
  --latin-small-letter-u-with-ring-above: 0016F;
  --latin-capital-letter-u-with-double-acute: 00170;
  --latin-small-letter-u-with-double-acute: 00171;
  --latin-capital-letter-u-with-ogonek: 00172;
  --latin-small-letter-u-with-ogonek: 00173;
  --latin-capital-letter-w-with-circumflex: 00174;
  --latin-small-letter-w-with-circumflex: 00175;
  --latin-capital-letter-y-with-circumflex: 00176;
  --latin-small-letter-y-with-circumflex: 00177;
  --latin-capital-letter-y-with-diaeresis: 00178;
  --latin-capital-letter-z-with-acute: 00179;
  --latin-small-letter-z-with-acute: 0017A;
  --latin-capital-letter-z-with-dot-above: 0017B;
  --latin-small-letter-z-with-dot-above: 0017C;
  --latin-capital-letter-z-with-caron: 0017D;
  --latin-small-letter-z-with-caron: 0017E;
  --latin-small-letter-f-with-hook: 00192;
  --latin-capital-letter-z-with-stroke: 001B5;
  --latin-small-letter-g-with-acute: 001F5;
  --latin-small-letter-dotless-j: 00237;
  --modifier-letter-circumflex-accent: 002C6;
  --caron: 002C7;
  --breve: 002D8;
  --dot-above: 002D9;
  --ring-above: 002DA;
  --ogonek: 002DB;
  --small-tilde: 002DC;
  --double-acute-accent: 002DD;
  --combining-inverted-breve: 00311;
  --combining-low-line: 00332;
  --greek-capital-letter-alpha: 00391;
  --greek-capital-letter-beta: 00392;
  --greek-capital-letter-gamma: 00393;
  --greek-capital-letter-delta: 00394;
  --greek-capital-letter-epsilon: 00395;
  --greek-capital-letter-zeta: 00396;
  --greek-capital-letter-eta: 00397;
  --greek-capital-letter-theta: 00398;
  --greek-capital-letter-iota: 00399;
  --greek-capital-letter-kappa: 0039A;
  --greek-capital-letter-lamda: 0039B;
  --greek-capital-letter-mu: 0039C;
  --greek-capital-letter-nu: 0039D;
  --greek-capital-letter-xi: 0039E;
  --greek-capital-letter-omicron: 0039F;
  --greek-capital-letter-pi: 003A0;
  --greek-capital-letter-rho: 003A1;
  --greek-capital-letter-sigma: 003A3;
  --greek-capital-letter-tau: 003A4;
  --greek-capital-letter-upsilon: 003A5;
  --greek-capital-letter-phi: 003A6;
  --greek-capital-letter-chi: 003A7;
  --greek-capital-letter-psi: 003A8;
  --greek-capital-letter-omega: 003A9;
  --greek-small-letter-alpha: 003B1;
  --greek-small-letter-beta: 003B2;
  --greek-small-letter-gamma: 003B3;
  --greek-small-letter-delta: 003B4;
  --greek-small-letter-epsilon: 003B5;
  --greek-small-letter-zeta: 003B6;
  --greek-small-letter-eta: 003B7;
  --greek-small-letter-theta: 003B8;
  --greek-small-letter-iota: 003B9;
  --greek-small-letter-kappa: 003BA;
  --greek-small-letter-lamda: 003BB;
  --greek-small-letter-mu: 003BC;
  --greek-small-letter-nu: 003BD;
  --greek-small-letter-xi: 003BE;
  --greek-small-letter-omicron: 003BF;
  --greek-small-letter-pi: 003C0;
  --greek-small-letter-rho: 003C1;
  --greek-small-letter-final-sigma: 003C2;
  --greek-small-letter-sigma: 003C3;
  --greek-small-letter-tau: 003C4;
  --greek-small-letter-upsilon: 003C5;
  --greek-small-letter-phi: 003C6;
  --greek-small-letter-chi: 003C7;
  --greek-small-letter-psi: 003C8;
  --greek-small-letter-omega: 003C9;
  --greek-theta-symbol: 003D1;
  --greek-upsilon-with-hook-symbol: 003D2;
  --greek-phi-symbol: 003D5;
  --greek-pi-symbol: 003D6;
  --greek-letter-digamma: 003DC;
  --greek-small-letter-digamma: 003DD;
  --greek-kappa-symbol: 003F0;
  --greek-rho-symbol: 003F1;
  --greek-lunate-epsilon-symbol: 003F5;
  --greek-reversed-lunate-epsilon-symbol: 003F6;
  --cyrillic-capital-letter-io: 00401;
  --cyrillic-capital-letter-dje: 00402;
  --cyrillic-capital-letter-gje: 00403;
  --cyrillic-capital-letter-ukrainian-ie: 00404;
  --cyrillic-capital-letter-dze: 00405;
  --cyrillic-capital-letter-byelorussian-ukrainian-i: 00406;
  --cyrillic-capital-letter-yi: 00407;
  --cyrillic-capital-letter-je: 00408;
  --cyrillic-capital-letter-lje: 00409;
  --cyrillic-capital-letter-nje: 0040A;
  --cyrillic-capital-letter-tshe: 0040B;
  --cyrillic-capital-letter-kje: 0040C;
  --cyrillic-capital-letter-short-u: 0040E;
  --cyrillic-capital-letter-dzhe: 0040F;
  --cyrillic-capital-letter-a: 00410;
  --cyrillic-capital-letter-be: 00411;
  --cyrillic-capital-letter-ve: 00412;
  --cyrillic-capital-letter-ghe: 00413;
  --cyrillic-capital-letter-de: 00414;
  --cyrillic-capital-letter-ie: 00415;
  --cyrillic-capital-letter-zhe: 00416;
  --cyrillic-capital-letter-ze: 00417;
  --cyrillic-capital-letter-i: 00418;
  --cyrillic-capital-letter-short-i: 00419;
  --cyrillic-capital-letter-ka: 0041A;
  --cyrillic-capital-letter-el: 0041B;
  --cyrillic-capital-letter-em: 0041C;
  --cyrillic-capital-letter-en: 0041D;
  --cyrillic-capital-letter-o: 0041E;
  --cyrillic-capital-letter-pe: 0041F;
  --cyrillic-capital-letter-er: 00420;
  --cyrillic-capital-letter-es: 00421;
  --cyrillic-capital-letter-te: 00422;
  --cyrillic-capital-letter-u: 00423;
  --cyrillic-capital-letter-ef: 00424;
  --cyrillic-capital-letter-ha: 00425;
  --cyrillic-capital-letter-tse: 00426;
  --cyrillic-capital-letter-che: 00427;
  --cyrillic-capital-letter-sha: 00428;
  --cyrillic-capital-letter-shcha: 00429;
  --cyrillic-capital-letter-hard-sign: 0042A;
  --cyrillic-capital-letter-yeru: 0042B;
  --cyrillic-capital-letter-soft-sign: 0042C;
  --cyrillic-capital-letter-e: 0042D;
  --cyrillic-capital-letter-yu: 0042E;
  --cyrillic-capital-letter-ya: 0042F;
  --cyrillic-small-letter-a: 00430;
  --cyrillic-small-letter-be: 00431;
  --cyrillic-small-letter-ve: 00432;
  --cyrillic-small-letter-ghe: 00433;
  --cyrillic-small-letter-de: 00434;
  --cyrillic-small-letter-ie: 00435;
  --cyrillic-small-letter-zhe: 00436;
  --cyrillic-small-letter-ze: 00437;
  --cyrillic-small-letter-i: 00438;
  --cyrillic-small-letter-short-i: 00439;
  --cyrillic-small-letter-ka: 0043A;
  --cyrillic-small-letter-el: 0043B;
  --cyrillic-small-letter-em: 0043C;
  --cyrillic-small-letter-en: 0043D;
  --cyrillic-small-letter-o: 0043E;
  --cyrillic-small-letter-pe: 0043F;
  --cyrillic-small-letter-er: 00440;
  --cyrillic-small-letter-es: 00441;
  --cyrillic-small-letter-te: 00442;
  --cyrillic-small-letter-u: 00443;
  --cyrillic-small-letter-ef: 00444;
  --cyrillic-small-letter-ha: 00445;
  --cyrillic-small-letter-tse: 00446;
  --cyrillic-small-letter-che: 00447;
  --cyrillic-small-letter-sha: 00448;
  --cyrillic-small-letter-shcha: 00449;
  --cyrillic-small-letter-hard-sign: 0044A;
  --cyrillic-small-letter-yeru: 0044B;
  --cyrillic-small-letter-soft-sign: 0044C;
  --cyrillic-small-letter-e: 0044D;
  --cyrillic-small-letter-yu: 0044E;
  --cyrillic-small-letter-ya: 0044F;
  --cyrillic-small-letter-io: 00451;
  --cyrillic-small-letter-dje: 00452;
  --cyrillic-small-letter-gje: 00453;
  --cyrillic-small-letter-ukrainian-ie: 00454;
  --cyrillic-small-letter-dze: 00455;
  --cyrillic-small-letter-byelorussian-ukrainian-i: 00456;
  --cyrillic-small-letter-yi: 00457;
  --cyrillic-small-letter-je: 00458;
  --cyrillic-small-letter-lje: 00459;
  --cyrillic-small-letter-nje: 0045A;
  --cyrillic-small-letter-tshe: 0045B;
  --cyrillic-small-letter-kje: 0045C;
  --cyrillic-small-letter-short-u: 0045E;
  --cyrillic-small-letter-dzhe: 0045F;
  --en-space: 02002;
  --em-space: 02003;
  --three-per-em-space: 02004;
  --four-per-em-space: 02005;
  --figure-space: 02007;
  --punctuation-space: 02008;
  --thin-space: 02009;
  --hair-space: 0200A;
  --zero-width-space: 0200B;
  --zero-width-non-joiner: 0200C;
  --zero-width-joiner: 0200D;
  --left-to-right-mark: 0200E;
  --right-to-left-mark: 0200F;
  --hyphen: 02010;
  --en-dash: 02013;
  --em-dash: 02014;
  --horizontal-bar: 02015;
  --double-vertical-line: 02016;
  --left-single-quotation-mark: 02018;
  --right-single-quotation-mark: 02019;
  --single-low-9-quotation-mark: 0201A;
  --left-double-quotation-mark: 0201C;
  --right-double-quotation-mark: 0201D;
  --double-low-9-quotation-mark: 0201E;
  --dagger: 02020;
  --double-dagger: 02021;
  --bullet: 02022;
  --two-dot-leader: 02025;
  --horizontal-ellipsis: 02026;
  --per-mille-sign: 02030;
  --per-ten-thousand-sign: 02031;
  --prime: 02032;
  --double-prime: 02033;
  --triple-prime: 02034;
  --reversed-prime: 02035;
  --single-left-pointing-angle-quotation-mark: 02039;
  --single-right-pointing-angle-quotation-mark: 0203A;
  --overline: 0203E;
  --caret-insertion-point: 02041;
  --hyphen-bullet: 02043;
  --fraction-slash: 02044;
  --reversed-semicolon: 0204F;
  --quadruple-prime: 02057;
  --medium-mathematical-space: 0205F;
  --word-joiner: 02060;
  --function-application: 02061;
  --invisible-times: 02062;
  --invisible-separator: 02063;
  --euro-sign: 020AC;
  --combining-three-dots-above: 020DB;
  --combining-four-dots-above: 020DC;
  --double-struck-capital-c: 02102;
  --care-of: 02105;
  --script-small-g: 0210A;
  --script-capital-h: 0210B;
  --black-letter-capital-h: 0210C;
  --double-struck-capital-h: 0210D;
  --planck-constant: 0210E;
  --planck-constant-over-two-pi: 0210F;
  --script-capital-i: 02110;
  --black-letter-capital-i: 02111;
  --script-capital-l: 02112;
  --script-small-l: 02113;
  --double-struck-capital-n: 02115;
  --numero-sign: 02116;
  --sound-recording-copyright: 02117;
  --script-capital-p: 02118;
  --double-struck-capital-p: 02119;
  --double-struck-capital-q: 0211A;
  --script-capital-r: 0211B;
  --black-letter-capital-r: 0211C;
  --double-struck-capital-r: 0211D;
  --prescription-take: 0211E;
  --trade-mark-sign: 02122;
  --double-struck-capital-z: 02124;
  --ohm-sign: 02126;
  --inverted-ohm-sign: 02127;
  --black-letter-capital-z: 02128;
  --turned-greek-small-letter-iota: 02129;
  --angstrom-sign: 0212B;
  --script-capital-b: 0212C;
  --black-letter-capital-c: 0212D;
  --script-small-e: 0212F;
  --script-capital-e: 02130;
  --script-capital-f: 02131;
  --script-capital-m: 02133;
  --script-small-o: 02134;
  --alef-symbol: 02135;
  --bet-symbol: 02136;
  --gimel-symbol: 02137;
  --dalet-symbol: 02138;
  --double-struck-italic-capital-d: 02145;
  --double-struck-italic-small-d: 02146;
  --double-struck-italic-small-e: 02147;
  --double-struck-italic-small-i: 02148;
  --vulgar-fraction-one-third: 02153;
  --vulgar-fraction-two-thirds: 02154;
  --vulgar-fraction-one-fifth: 02155;
  --vulgar-fraction-two-fifths: 02156;
  --vulgar-fraction-three-fifths: 02157;
  --vulgar-fraction-four-fifths: 02158;
  --vulgar-fraction-one-sixth: 02159;
  --vulgar-fraction-five-sixths: 0215A;
  --vulgar-fraction-one-eighth: 0215B;
  --vulgar-fraction-three-eighths: 0215C;
  --vulgar-fraction-five-eighths: 0215D;
  --vulgar-fraction-seven-eighths: 0215E;
  --leftwards-arrow: 02190;
  --upwards-arrow: 02191;
  --rightwards-arrow: 02192;
  --downwards-arrow: 02193;
  --left-right-arrow: 02194;
  --up-down-arrow: 02195;
  --north-west-arrow: 02196;
  --north-east-arrow: 02197;
  --south-east-arrow: 02198;
  --south-west-arrow: 02199;
  --leftwards-arrow-with-stroke: 0219A;
  --rightwards-arrow-with-stroke: 0219B;
  --rightwards-wave-arrow: 0219D;
  --leftwards-two-headed-arrow: 0219E;
  --upwards-two-headed-arrow: 0219F;
  --rightwards-two-headed-arrow: 021A0;
  --downwards-two-headed-arrow: 021A1;
  --leftwards-arrow-with-tail: 021A2;
  --rightwards-arrow-with-tail: 021A3;
  --leftwards-arrow-from-bar: 021A4;
  --upwards-arrow-from-bar: 021A5;
  --rightwards-arrow-from-bar: 021A6;
  --downwards-arrow-from-bar: 021A7;
  --leftwards-arrow-with-hook: 021A9;
  --rightwards-arrow-with-hook: 021AA;
  --leftwards-arrow-with-loop: 021AB;
  --rightwards-arrow-with-loop: 021AC;
  --left-right-wave-arrow: 021AD;
  --left-right-arrow-with-stroke: 021AE;
  --upwards-arrow-with-tip-leftwards: 021B0;
  --upwards-arrow-with-tip-rightwards: 021B1;
  --downwards-arrow-with-tip-leftwards: 021B2;
  --downwards-arrow-with-tip-rightwards: 021B3;
  --downwards-arrow-with-corner-leftwards: 021B5;
  --anticlockwise-top-semicircle-arrow: 021B6;
  --clockwise-top-semicircle-arrow: 021B7;
  --anticlockwise-open-circle-arrow: 021BA;
  --clockwise-open-circle-arrow: 021BB;
  --leftwards-harpoon-with-barb-upwards: 021BC;
  --leftwards-harpoon-with-barb-downwards: 021BD;
  --upwards-harpoon-with-barb-rightwards: 021BE;
  --upwards-harpoon-with-barb-leftwards: 021BF;
  --rightwards-harpoon-with-barb-upwards: 021C0;
  --rightwards-harpoon-with-barb-downwards: 021C1;
  --downwards-harpoon-with-barb-rightwards: 021C2;
  --downwards-harpoon-with-barb-leftwards: 021C3;
  --rightwards-arrow-over-leftwards-arrow: 021C4;
  --upwards-arrow-leftwards-of-downwards-arrow: 021C5;
  --leftwards-arrow-over-rightwards-arrow: 021C6;
  --leftwards-paired-arrows: 021C7;
  --upwards-paired-arrows: 021C8;
  --rightwards-paired-arrows: 021C9;
  --downwards-paired-arrows: 021CA;
  --leftwards-harpoon-over-rightwards-harpoon: 021CB;
  --rightwards-harpoon-over-leftwards-harpoon: 021CC;
  --leftwards-double-arrow-with-stroke: 021CD;
  --left-right-double-arrow-with-stroke: 021CE;
  --rightwards-double-arrow-with-stroke: 021CF;
  --leftwards-double-arrow: 021D0;
  --upwards-double-arrow: 021D1;
  --rightwards-double-arrow: 021D2;
  --downwards-double-arrow: 021D3;
  --left-right-double-arrow: 021D4;
  --up-down-double-arrow: 021D5;
  --north-west-double-arrow: 021D6;
  --north-east-double-arrow: 021D7;
  --south-east-double-arrow: 021D8;
  --south-west-double-arrow: 021D9;
  --leftwards-triple-arrow: 021DA;
  --rightwards-triple-arrow: 021DB;
  --rightwards-squiggle-arrow: 021DD;
  --leftwards-arrow-to-bar: 021E4;
  --rightwards-arrow-to-bar: 021E5;
  --downwards-arrow-leftwards-of-upwards-arrow: 021F5;
  --leftwards-open-headed-arrow: 021FD;
  --rightwards-open-headed-arrow: 021FE;
  --left-right-open-headed-arrow: 021FF;
  --for-all: 02200;
  --complement: 02201;
  --partial-differential: 02202;
  --there-exists: 02203;
  --there-does-not-exist: 02204;
  --empty-set: 02205;
  --nabla: 02207;
  --element-of: 02208;
  --not-an-element-of: 02209;
  --contains-as-member: 0220B;
  --does-not-contain-as-member: 0220C;
  --n-ary-product: 0220F;
  --n-ary-coproduct: 02210;
  --n-ary-summation: 02211;
  --minus-sign: 02212;
  --minus-or-plus-sign: 02213;
  --dot-plus: 02214;
  --set-minus: 02216;
  --asterisk-operator: 02217;
  --ring-operator: 02218;
  --square-root: 0221A;
  --proportional-to: 0221D;
  --infinity: 0221E;
  --right-angle: 0221F;
  --angle: 02220;
  --measured-angle: 02221;
  --spherical-angle: 02222;
  --divides: 02223;
  --does-not-divide: 02224;
  --parallel-to: 02225;
  --not-parallel-to: 02226;
  --logical-and: 02227;
  --logical-or: 02228;
  --intersection: 02229;
  --union: 0222A;
  --integral: 0222B;
  --double-integral: 0222C;
  --triple-integral: 0222D;
  --contour-integral: 0222E;
  --surface-integral: 0222F;
  --volume-integral: 02230;
  --clockwise-integral: 02231;
  --clockwise-contour-integral: 02232;
  --anticlockwise-contour-integral: 02233;
  --therefore: 02234;
  --because: 02235;
  --ratio: 02236;
  --proportion: 02237;
  --dot-minus: 02238;
  --geometric-proportion: 0223A;
  --homothetic: 0223B;
  --tilde-operator: 0223C;
  --reversed-tilde: 0223D;
  --inverted-lazy-s: 0223E;
  --sine-wave: 0223F;
  --wreath-product: 02240;
  --not-tilde: 02241;
  --minus-tilde: 02242;
  --asymptotically-equal-to: 02243;
  --not-asymptotically-equal-to: 02244;
  --approximately-equal-to: 02245;
  --approximately-but-not-actually-equal-to: 02246;
  --neither-approximately-nor-actually-equal-to: 02247;
  --almost-equal-to: 02248;
  --not-almost-equal-to: 02249;
  --almost-equal-or-equal-to: 0224A;
  --triple-tilde: 0224B;
  --all-equal-to: 0224C;
  --equivalent-to: 0224D;
  --geometrically-equivalent-to: 0224E;
  --difference-between: 0224F;
  --approaches-the-limit: 02250;
  --geometrically-equal-to: 02251;
  --approximately-equal-to-or-the-image-of: 02252;
  --image-of-or-approximately-equal-to: 02253;
  --colon-equals: 02254;
  --equals-colon: 02255;
  --ring-in-equal-to: 02256;
  --ring-equal-to: 02257;
  --estimates: 02259;
  --equiangular-to: 0225A;
  --delta-equal-to: 0225C;
  --questioned-equal-to: 0225F;
  --not-equal-to: 02260;
  --identical-to: 02261;
  --not-identical-to: 02262;
  --less-than-or-equal-to: 02264;
  --greater-than-or-equal-to: 02265;
  --less-than-over-equal-to: 02266;
  --greater-than-over-equal-to: 02267;
  --less-than-but-not-equal-to: 02268;
  --greater-than-but-not-equal-to: 02269;
  --much-less-than: 0226A;
  --much-greater-than: 0226B;
  --between: 0226C;
  --not-equivalent-to: 0226D;
  --not-less-than: 0226E;
  --not-greater-than: 0226F;
  --neither-less-than-nor-equal-to: 02270;
  --neither-greater-than-nor-equal-to: 02271;
  --less-than-or-equivalent-to: 02272;
  --greater-than-or-equivalent-to: 02273;
  --neither-less-than-nor-equivalent-to: 02274;
  --neither-greater-than-nor-equivalent-to: 02275;
  --less-than-or-greater-than: 02276;
  --greater-than-or-less-than: 02277;
  --neither-less-than-nor-greater-than: 02278;
  --neither-greater-than-nor-less-than: 02279;
  --precedes: 0227A;
  --succeeds: 0227B;
  --precedes-or-equal-to: 0227C;
  --succeeds-or-equal-to: 0227D;
  --precedes-or-equivalent-to: 0227E;
  --succeeds-or-equivalent-to: 0227F;
  --does-not-precede: 02280;
  --does-not-succeed: 02281;
  --subset-of: 02282;
  --superset-of: 02283;
  --not-a-subset-of: 02284;
  --not-a-superset-of: 02285;
  --subset-of-or-equal-to: 02286;
  --superset-of-or-equal-to: 02287;
  --neither-a-subset-of-nor-equal-to: 02288;
  --neither-a-superset-of-nor-equal-to: 02289;
  --subset-of-with-not-equal-to: 0228A;
  --superset-of-with-not-equal-to: 0228B;
  --multiset-multiplication: 0228D;
  --multiset-union: 0228E;
  --square-image-of: 0228F;
  --square-original-of: 02290;
  --square-image-of-or-equal-to: 02291;
  --square-original-of-or-equal-to: 02292;
  --square-cap: 02293;
  --square-cup: 02294;
  --circled-plus: 02295;
  --circled-minus: 02296;
  --circled-times: 02297;
  --circled-division-slash: 02298;
  --circled-dot-operator: 02299;
  --circled-ring-operator: 0229A;
  --circled-asterisk-operator: 0229B;
  --circled-dash: 0229D;
  --squared-plus: 0229E;
  --squared-minus: 0229F;
  --squared-times: 022A0;
  --squared-dot-operator: 022A1;
  --right-tack: 022A2;
  --left-tack: 022A3;
  --down-tack: 022A4;
  --up-tack: 022A5;
  --models: 022A7;
  --true: 022A8;
  --forces: 022A9;
  --triple-vertical-bar-right-turnstile: 022AA;
  --double-vertical-bar-double-right-turnstile: 022AB;
  --does-not-prove: 022AC;
  --not-true: 022AD;
  --does-not-force: 022AE;
  --negated-double-vertical-bar-double-right-turnstile: 022AF;
  --precedes-under-relation: 022B0;
  --normal-subgroup-of: 022B2;
  --contains-as-normal-subgroup: 022B3;
  --normal-subgroup-of-or-equal-to: 022B4;
  --contains-as-normal-subgroup-or-equal-to: 022B5;
  --original-of: 022B6;
  --image-of: 022B7;
  --multimap: 022B8;
  --hermitian-conjugate-matrix: 022B9;
  --intercalate: 022BA;
  --xor: 022BB;
  --nor: 022BD;
  --right-angle-with-arc: 022BE;
  --right-triangle: 022BF;
  --n-ary-logical-and: 022C0;
  --n-ary-logical-or: 022C1;
  --n-ary-intersection: 022C2;
  --n-ary-union: 022C3;
  --diamond-operator: 022C4;
  --dot-operator: 022C5;
  --star-operator: 022C6;
  --division-times: 022C7;
  --bowtie: 022C8;
  --left-normal-factor-semidirect-product: 022C9;
  --right-normal-factor-semidirect-product: 022CA;
  --left-semidirect-product: 022CB;
  --right-semidirect-product: 022CC;
  --reversed-tilde-equals: 022CD;
  --curly-logical-or: 022CE;
  --curly-logical-and: 022CF;
  --double-subset: 022D0;
  --double-superset: 022D1;
  --double-intersection: 022D2;
  --double-union: 022D3;
  --pitchfork: 022D4;
  --equal-and-parallel-to: 022D5;
  --less-than-with-dot: 022D6;
  --greater-than-with-dot: 022D7;
  --very-much-less-than: 022D8;
  --very-much-greater-than: 022D9;
  --less-than-equal-to-or-greater-than: 022DA;
  --greater-than-equal-to-or-less-than: 022DB;
  --equal-to-or-precedes: 022DE;
  --equal-to-or-succeeds: 022DF;
  --does-not-precede-or-equal: 022E0;
  --does-not-succeed-or-equal: 022E1;
  --not-square-image-of-or-equal-to: 022E2;
  --not-square-original-of-or-equal-to: 022E3;
  --less-than-but-not-equivalent-to: 022E6;
  --greater-than-but-not-equivalent-to: 022E7;
  --precedes-but-not-equivalent-to: 022E8;
  --succeeds-but-not-equivalent-to: 022E9;
  --not-normal-subgroup-of: 022EA;
  --does-not-contain-as-normal-subgroup: 022EB;
  --not-normal-subgroup-of-or-equal-to: 022EC;
  --does-not-contain-as-normal-subgroup-or-equal: 022ED;
  --vertical-ellipsis: 022EE;
  --midline-horizontal-ellipsis: 022EF;
  --up-right-diagonal-ellipsis: 022F0;
  --down-right-diagonal-ellipsis: 022F1;
  --element-of-with-long-horizontal-stroke: 022F2;
  --element-of-with-vertical-bar-at-end-of-horizontal-stroke: 022F3;
  --small-element-of-with-vertical-bar-at-end-of-horizontal-stroke: 022F4;
  --element-of-with-dot-above: 022F5;
  --element-of-with-overbar: 022F6;
  --small-element-of-with-overbar: 022F7;
  --element-of-with-two-horizontal-strokes: 022F9;
  --contains-with-long-horizontal-stroke: 022FA;
  --contains-with-vertical-bar-at-end-of-horizontal-stroke: 022FB;
  --small-contains-with-vertical-bar-at-end-of-horizontal-stroke: 022FC;
  --contains-with-overbar: 022FD;
  --small-contains-with-overbar: 022FE;
  --projective: 02305;
  --perspective: 02306;
  --left-ceiling: 02308;
  --right-ceiling: 02309;
  --left-floor: 0230A;
  --right-floor: 0230B;
  --bottom-right-crop: 0230C;
  --bottom-left-crop: 0230D;
  --top-right-crop: 0230E;
  --top-left-crop: 0230F;
  --reversed-not-sign: 02310;
  --arc: 02312;
  --segment: 02313;
  --telephone-recorder: 02315;
  --position-indicator: 02316;
  --top-left-corner: 0231C;
  --top-right-corner: 0231D;
  --bottom-left-corner: 0231E;
  --bottom-right-corner: 0231F;
  --frown: 02322;
  --smile: 02323;
  --cylindricity: 0232D;
  --all-around-profile: 0232E;
  --apl-functional-symbol-i-beam: 02336;
  --apl-functional-symbol-circle-stile: 0233D;
  --apl-functional-symbol-slash-bar: 0233F;
  --right-angle-with-downwards-zigzag-arrow: 0237C;
  --upper-left-or-lower-right-curly-bracket-section: 023B0;
  --upper-right-or-lower-left-curly-bracket-section: 023B1;
  --top-square-bracket: 023B4;
  --bottom-square-bracket: 023B5;
  --bottom-square-bracket-over-top-square-bracket: 023B6;
  --top-parenthesis: 023DC;
  --bottom-parenthesis: 023DD;
  --top-curly-bracket: 023DE;
  --bottom-curly-bracket: 023DF;
  --white-trapezium: 023E2;
  --electrical-intersection: 023E7;
  --open-box: 02423;
  --circled-latin-capital-letter-s: 024C8;
  --box-drawings-light-horizontal: 02500;
  --box-drawings-light-vertical: 02502;
  --box-drawings-light-down-and-right: 0250C;
  --box-drawings-light-down-and-left: 02510;
  --box-drawings-light-up-and-right: 02514;
  --box-drawings-light-up-and-left: 02518;
  --box-drawings-light-vertical-and-right: 0251C;
  --box-drawings-light-vertical-and-left: 02524;
  --box-drawings-light-down-and-horizontal: 0252C;
  --box-drawings-light-up-and-horizontal: 02534;
  --box-drawings-light-vertical-and-horizontal: 0253C;
  --box-drawings-double-horizontal: 02550;
  --box-drawings-double-vertical: 02551;
  --box-drawings-down-single-and-right-double: 02552;
  --box-drawings-down-double-and-right-single: 02553;
  --box-drawings-double-down-and-right: 02554;
  --box-drawings-down-single-and-left-double: 02555;
  --box-drawings-down-double-and-left-single: 02556;
  --box-drawings-double-down-and-left: 02557;
  --box-drawings-up-single-and-right-double: 02558;
  --box-drawings-up-double-and-right-single: 02559;
  --box-drawings-double-up-and-right: 0255A;
  --box-drawings-up-single-and-left-double: 0255B;
  --box-drawings-up-double-and-left-single: 0255C;
  --box-drawings-double-up-and-left: 0255D;
  --box-drawings-vertical-single-and-right-double: 0255E;
  --box-drawings-vertical-double-and-right-single: 0255F;
  --box-drawings-double-vertical-and-right: 02560;
  --box-drawings-vertical-single-and-left-double: 02561;
  --box-drawings-vertical-double-and-left-single: 02562;
  --box-drawings-double-vertical-and-left: 02563;
  --box-drawings-down-single-and-horizontal-double: 02564;
  --box-drawings-down-double-and-horizontal-single: 02565;
  --box-drawings-double-down-and-horizontal: 02566;
  --box-drawings-up-single-and-horizontal-double: 02567;
  --box-drawings-up-double-and-horizontal-single: 02568;
  --box-drawings-double-up-and-horizontal: 02569;
  --box-drawings-vertical-single-and-horizontal-double: 0256A;
  --box-drawings-vertical-double-and-horizontal-single: 0256B;
  --box-drawings-double-vertical-and-horizontal: 0256C;
  --upper-half-block: 02580;
  --lower-half-block: 02584;
  --full-block: 02588;
  --light-shade: 02591;
  --medium-shade: 02592;
  --dark-shade: 02593;
  --white-square: 025A1;
  --black-small-square: 025AA;
  --white-small-square: 025AB;
  --white-rectangle: 025AD;
  --black-vertical-rectangle: 025AE;
  --white-parallelogram: 025B1;
  --white-up-pointing-triangle: 025B3;
  --black-up-pointing-small-triangle: 025B4;
  --white-up-pointing-small-triangle: 025B5;
  --black-right-pointing-small-triangle: 025B8;
  --white-right-pointing-small-triangle: 025B9;
  --white-down-pointing-triangle: 025BD;
  --black-down-pointing-small-triangle: 025BE;
  --white-down-pointing-small-triangle: 025BF;
  --black-left-pointing-small-triangle: 025C2;
  --white-left-pointing-small-triangle: 025C3;
  --lozenge: 025CA;
  --white-circle: 025CB;
  --white-up-pointing-triangle-with-dot: 025EC;
  --large-circle: 025EF;
  --upper-left-triangle: 025F8;
  --upper-right-triangle: 025F9;
  --lower-left-triangle: 025FA;
  --white-medium-square: 025FB;
  --black-medium-square: 025FC;
  --black-star: 02605;
  --white-star: 02606;
  --black-telephone: 0260E;
  --female-sign: 02640;
  --male-sign: 02642;
  --black-spade-suit: 02660;
  --black-club-suit: 02663;
  --black-heart-suit: 02665;
  --black-diamond-suit: 02666;
  --eighth-note: 0266A;
  --music-flat-sign: 0266D;
  --music-natural-sign: 0266E;
  --music-sharp-sign: 0266F;
  --check-mark: 02713;
  --ballot-x: 02717;
  --maltese-cross: 02720;
  --six-pointed-black-star: 02736;
  --light-vertical-bar: 02758;
  --light-left-tortoise-shell-bracket-ornament: 02772;
  --light-right-tortoise-shell-bracket-ornament: 02773;
  --mathematical-left-white-square-bracket: 027E6;
  --mathematical-right-white-square-bracket: 027E7;
  --mathematical-left-angle-bracket: 027E8;
  --mathematical-right-angle-bracket: 027E9;
  --mathematical-left-double-angle-bracket: 027EA;
  --mathematical-right-double-angle-bracket: 027EB;
  --mathematical-left-white-tortoise-shell-bracket: 027EC;
  --mathematical-right-white-tortoise-shell-bracket: 027ED;
  --long-leftwards-arrow: 027F5;
  --long-rightwards-arrow: 027F6;
  --long-left-right-arrow: 027F7;
  --long-leftwards-double-arrow: 027F8;
  --long-rightwards-double-arrow: 027F9;
  --long-left-right-double-arrow: 027FA;
  --long-rightwards-arrow-from-bar: 027FC;
  --long-rightwards-squiggle-arrow: 027FF;
  --leftwards-double-arrow-with-vertical-stroke: 02902;
  --rightwards-double-arrow-with-vertical-stroke: 02903;
  --left-right-double-arrow-with-vertical-stroke: 02904;
  --rightwards-two-headed-arrow-from-bar: 02905;
  --leftwards-double-dash-arrow: 0290C;
  --rightwards-double-dash-arrow: 0290D;
  --leftwards-triple-dash-arrow: 0290E;
  --rightwards-triple-dash-arrow: 0290F;
  --rightwards-two-headed-triple-dash-arrow: 02910;
  --rightwards-arrow-with-dotted-stem: 02911;
  --upwards-arrow-to-bar: 02912;
  --downwards-arrow-to-bar: 02913;
  --rightwards-two-headed-arrow-with-tail: 02916;
  --leftwards-arrow-tail: 02919;
  --rightwards-arrow-tail: 0291A;
  --leftwards-double-arrow-tail: 0291B;
  --rightwards-double-arrow-tail: 0291C;
  --leftwards-arrow-to-black-diamond: 0291D;
  --rightwards-arrow-to-black-diamond: 0291E;
  --leftwards-arrow-from-bar-to-black-diamond: 0291F;
  --rightwards-arrow-from-bar-to-black-diamond: 02920;
  --north-west-arrow-with-hook: 02923;
  --north-east-arrow-with-hook: 02924;
  --south-east-arrow-with-hook: 02925;
  --south-west-arrow-with-hook: 02926;
  --north-west-arrow-and-north-east-arrow: 02927;
  --north-east-arrow-and-south-east-arrow: 02928;
  --south-east-arrow-and-south-west-arrow: 02929;
  --south-west-arrow-and-north-west-arrow: 0292A;
  --wave-arrow-pointing-directly-right: 02933;
  --arrow-pointing-rightwards-then-curving-downwards: 02935;
  --arrow-pointing-downwards-then-curving-leftwards: 02936;
  --arrow-pointing-downwards-then-curving-rightwards: 02937;
  --right-side-arc-clockwise-arrow: 02938;
  --left-side-arc-anticlockwise-arrow: 02939;
  --top-arc-clockwise-arrow-with-minus: 0293C;
  --top-arc-anticlockwise-arrow-with-plus: 0293D;
  --rightwards-arrow-with-plus-below: 02945;
  --left-right-arrow-through-small-circle: 02948;
  --upwards-two-headed-arrow-from-small-circle: 02949;
  --left-barb-up-right-barb-down-harpoon: 0294A;
  --left-barb-down-right-barb-up-harpoon: 0294B;
  --left-barb-up-right-barb-up-harpoon: 0294E;
  --up-barb-right-down-barb-right-harpoon: 0294F;
  --left-barb-down-right-barb-down-harpoon: 02950;
  --up-barb-left-down-barb-left-harpoon: 02951;
  --leftwards-harpoon-with-barb-up-to-bar: 02952;
  --rightwards-harpoon-with-barb-up-to-bar: 02953;
  --upwards-harpoon-with-barb-right-to-bar: 02954;
  --downwards-harpoon-with-barb-right-to-bar: 02955;
  --leftwards-harpoon-with-barb-down-to-bar: 02956;
  --rightwards-harpoon-with-barb-down-to-bar: 02957;
  --upwards-harpoon-with-barb-left-to-bar: 02958;
  --downwards-harpoon-with-barb-left-to-bar: 02959;
  --leftwards-harpoon-with-barb-up-from-bar: 0295A;
  --rightwards-harpoon-with-barb-up-from-bar: 0295B;
  --upwards-harpoon-with-barb-right-from-bar: 0295C;
  --downwards-harpoon-with-barb-right-from-bar: 0295D;
  --leftwards-harpoon-with-barb-down-from-bar: 0295E;
  --rightwards-harpoon-with-barb-down-from-bar: 0295F;
  --upwards-harpoon-with-barb-left-from-bar: 02960;
  --downwards-harpoon-with-barb-left-from-bar: 02961;
  --leftwards-harpoon-with-barb-up-above-leftwards-harpoon-with-barb-down: 02962;
  --upwards-harpoon-with-barb-left-beside-upwards-harpoon-with-barb-right: 02963;
  --rightwards-harpoon-with-barb-up-above-rightwards-harpoon-with-barb-down: 02964;
  --downwards-harpoon-with-barb-left-beside-downwards-harpoon-with-barb-right: 02965;
  --leftwards-harpoon-with-barb-up-above-rightwards-harpoon-with-barb-up: 02966;
  --leftwards-harpoon-with-barb-down-above-rightwards-harpoon-with-barb-down: 02967;
  --rightwards-harpoon-with-barb-up-above-leftwards-harpoon-with-barb-up: 02968;
  --rightwards-harpoon-with-barb-down-above-leftwards-harpoon-with-barb-down: 02969;
  --leftwards-harpoon-with-barb-up-above-long-dash: 0296A;
  --leftwards-harpoon-with-barb-down-below-long-dash: 0296B;
  --rightwards-harpoon-with-barb-up-above-long-dash: 0296C;
  --rightwards-harpoon-with-barb-down-below-long-dash: 0296D;
  --upwards-harpoon-with-barb-left-beside-downwards-harpoon-with-barb-right: 0296E;
  --downwards-harpoon-with-barb-left-beside-upwards-harpoon-with-barb-right: 0296F;
  --right-double-arrow-with-rounded-head: 02970;
  --equals-sign-above-rightwards-arrow: 02971;
  --tilde-operator-above-rightwards-arrow: 02972;
  --leftwards-arrow-above-tilde-operator: 02973;
  --rightwards-arrow-above-tilde-operator: 02974;
  --rightwards-arrow-above-almost-equal-to: 02975;
  --less-than-above-leftwards-arrow: 02976;
  --greater-than-above-rightwards-arrow: 02978;
  --subset-above-rightwards-arrow: 02979;
  --superset-above-leftwards-arrow: 0297B;
  --left-fish-tail: 0297C;
  --right-fish-tail: 0297D;
  --up-fish-tail: 0297E;
  --down-fish-tail: 0297F;
  --left-white-parenthesis: 02985;
  --right-white-parenthesis: 02986;
  --left-square-bracket-with-underbar: 0298B;
  --right-square-bracket-with-underbar: 0298C;
  --left-square-bracket-with-tick-in-top-corner: 0298D;
  --right-square-bracket-with-tick-in-bottom-corner: 0298E;
  --left-square-bracket-with-tick-in-bottom-corner: 0298F;
  --right-square-bracket-with-tick-in-top-corner: 02990;
  --left-angle-bracket-with-dot: 02991;
  --right-angle-bracket-with-dot: 02992;
  --left-arc-less-than-bracket: 02993;
  --right-arc-greater-than-bracket: 02994;
  --double-left-arc-greater-than-bracket: 02995;
  --double-right-arc-less-than-bracket: 02996;
  --vertical-zigzag-line: 0299A;
  --right-angle-variant-with-square: 0299C;
  --measured-right-angle-with-dot: 0299D;
  --angle-with-underbar: 029A4;
  --reversed-angle-with-underbar: 029A5;
  --oblique-angle-opening-up: 029A6;
  --oblique-angle-opening-down: 029A7;
  --measured-angle-with-open-arm-ending-in-arrow-pointing-up-and-right: 029A8;
  --measured-angle-with-open-arm-ending-in-arrow-pointing-up-and-left: 029A9;
  --measured-angle-with-open-arm-ending-in-arrow-pointing-down-and-right: 029AA;
  --measured-angle-with-open-arm-ending-in-arrow-pointing-down-and-left: 029AB;
  --measured-angle-with-open-arm-ending-in-arrow-pointing-right-and-up: 029AC;
  --measured-angle-with-open-arm-ending-in-arrow-pointing-left-and-up: 029AD;
  --measured-angle-with-open-arm-ending-in-arrow-pointing-right-and-down: 029AE;
  --measured-angle-with-open-arm-ending-in-arrow-pointing-left-and-down: 029AF;
  --reversed-empty-set: 029B0;
  --empty-set-with-overbar: 029B1;
  --empty-set-with-small-circle-above: 029B2;
  --empty-set-with-right-arrow-above: 029B3;
  --empty-set-with-left-arrow-above: 029B4;
  --circle-with-horizontal-bar: 029B5;
  --circled-vertical-bar: 029B6;
  --circled-parallel: 029B7;
  --circled-perpendicular: 029B9;
  --circle-with-superimposed-x: 029BB;
  --circled-anticlockwise-rotated-division-sign: 029BC;
  --circled-white-bullet: 029BE;
  --circled-bullet: 029BF;
  --circled-less-than: 029C0;
  --circled-greater-than: 029C1;
  --circle-with-small-circle-to-the-right: 029C2;
  --circle-with-two-horizontal-strokes-to-the-right: 029C3;
  --squared-rising-diagonal-slash: 029C4;
  --squared-falling-diagonal-slash: 029C5;
  --two-joined-squares: 029C9;
  --triangle-with-serifs-at-bottom: 029CD;
  --right-triangle-above-left-triangle: 029CE;
  --left-triangle-beside-vertical-bar: 029CF;
  --vertical-bar-beside-right-triangle: 029D0;
  --left-double-wiggly-fence: 029DA;
  --incomplete-infinity: 029DC;
  --tie-over-infinity: 029DD;
  --infinity-negated-with-vertical-bar: 029DE;
  --equals-sign-and-slanted-parallel: 029E3;
  --equals-sign-and-slanted-parallel-with-tilde-above: 029E4;
  --identical-to-and-slanted-parallel: 029E5;
  --black-lozenge: 029EB;
  --rule-delayed: 029F4;
  --solidus-with-overbar: 029F6;
  --n-ary-circled-dot-operator: 02A00;
  --n-ary-circled-plus-operator: 02A01;
  --n-ary-circled-times-operator: 02A02;
  --n-ary-union-operator-with-plus: 02A04;
  --n-ary-square-union-operator: 02A06;
  --quadruple-integral-operator: 02A0C;
  --finite-part-integral: 02A0D;
  --circulation-function: 02A10;
  --anticlockwise-integration: 02A11;
  --line-integration-with-rectangular-path-around-pole: 02A12;
  --line-integration-with-semicircular-path-around-pole: 02A13;
  --line-integration-not-including-the-pole: 02A14;
  --integral-around-a-point-operator: 02A15;
  --quaternion-integral-operator: 02A16;
  --integral-with-leftwards-arrow-with-hook: 02A17;
  --plus-sign-with-small-circle-above: 02A22;
  --plus-sign-with-circumflex-accent-above: 02A23;
  --plus-sign-with-tilde-above: 02A24;
  --plus-sign-with-dot-below: 02A25;
  --plus-sign-with-tilde-below: 02A26;
  --plus-sign-with-subscript-two: 02A27;
  --minus-sign-with-comma-above: 02A29;
  --minus-sign-with-dot-below: 02A2A;
  --plus-sign-in-left-half-circle: 02A2D;
  --plus-sign-in-right-half-circle: 02A2E;
  --vector-or-cross-product: 02A2F;
  --multiplication-sign-with-dot-above: 02A30;
  --multiplication-sign-with-underbar: 02A31;
  --smash-product: 02A33;
  --multiplication-sign-in-left-half-circle: 02A34;
  --multiplication-sign-in-right-half-circle: 02A35;
  --circled-multiplication-sign-with-circumflex-accent: 02A36;
  --multiplication-sign-in-double-circle: 02A37;
  --circled-division-sign: 02A38;
  --plus-sign-in-triangle: 02A39;
  --minus-sign-in-triangle: 02A3A;
  --multiplication-sign-in-triangle: 02A3B;
  --interior-product: 02A3C;
  --amalgamation-or-coproduct: 02A3F;
  --intersection-with-dot: 02A40;
  --union-with-overbar: 02A42;
  --intersection-with-overbar: 02A43;
  --intersection-with-logical-and: 02A44;
  --union-with-logical-or: 02A45;
  --union-above-intersection: 02A46;
  --intersection-above-union: 02A47;
  --union-above-bar-above-intersection: 02A48;
  --intersection-above-bar-above-union: 02A49;
  --union-beside-and-joined-with-union: 02A4A;
  --intersection-beside-and-joined-with-intersection: 02A4B;
  --closed-union-with-serifs: 02A4C;
  --closed-intersection-with-serifs: 02A4D;
  --closed-union-with-serifs-and-smash-product: 02A50;
  --double-logical-and: 02A53;
  --double-logical-or: 02A54;
  --two-intersecting-logical-and: 02A55;
  --two-intersecting-logical-or: 02A56;
  --sloping-large-or: 02A57;
  --sloping-large-and: 02A58;
  --logical-and-with-middle-stem: 02A5A;
  --logical-or-with-middle-stem: 02A5B;
  --logical-and-with-horizontal-dash: 02A5C;
  --logical-or-with-horizontal-dash: 02A5D;
  --logical-and-with-underbar: 02A5F;
  --equals-sign-with-dot-below: 02A66;
  --tilde-operator-with-dot-above: 02A6A;
  --congruent-with-dot-above: 02A6D;
  --equals-with-asterisk: 02A6E;
  --almost-equal-to-with-circumflex-accent: 02A6F;
  --approximately-equal-or-equal-to: 02A70;
  --equals-sign-above-plus-sign: 02A71;
  --plus-sign-above-equals-sign: 02A72;
  --equals-sign-above-tilde-operator: 02A73;
  --double-colon-equal: 02A74;
  --two-consecutive-equals-signs: 02A75;
  --equals-sign-with-two-dots-above-and-two-dots-below: 02A77;
  --equivalent-with-four-dots-above: 02A78;
  --less-than-with-circle-inside: 02A79;
  --greater-than-with-circle-inside: 02A7A;
  --less-than-with-question-mark-above: 02A7B;
  --greater-than-with-question-mark-above: 02A7C;
  --less-than-or-slanted-equal-to: 02A7D;
  --greater-than-or-slanted-equal-to: 02A7E;
  --less-than-or-slanted-equal-to-with-dot-inside: 02A7F;
  --greater-than-or-slanted-equal-to-with-dot-inside: 02A80;
  --less-than-or-slanted-equal-to-with-dot-above: 02A81;
  --greater-than-or-slanted-equal-to-with-dot-above: 02A82;
  --less-than-or-slanted-equal-to-with-dot-above-right: 02A83;
  --greater-than-or-slanted-equal-to-with-dot-above-left: 02A84;
  --less-than-or-approximate: 02A85;
  --greater-than-or-approximate: 02A86;
  --less-than-and-single-line-not-equal-to: 02A87;
  --greater-than-and-single-line-not-equal-to: 02A88;
  --less-than-and-not-approximate: 02A89;
  --greater-than-and-not-approximate: 02A8A;
  --less-than-above-double-line-equal-above-greater-than: 02A8B;
  --greater-than-above-double-line-equal-above-less-than: 02A8C;
  --less-than-above-similar-or-equal: 02A8D;
  --greater-than-above-similar-or-equal: 02A8E;
  --less-than-above-similar-above-greater-than: 02A8F;
  --greater-than-above-similar-above-less-than: 02A90;
  --less-than-above-greater-than-above-double-line-equal: 02A91;
  --greater-than-above-less-than-above-double-line-equal: 02A92;
  --less-than-above-slanted-equal-above-greater-than-above-slanted-equal: 02A93;
  --greater-than-above-slanted-equal-above-less-than-above-slanted-equal: 02A94;
  --slanted-equal-to-or-less-than: 02A95;
  --slanted-equal-to-or-greater-than: 02A96;
  --slanted-equal-to-or-less-than-with-dot-inside: 02A97;
  --slanted-equal-to-or-greater-than-with-dot-inside: 02A98;
  --double-line-equal-to-or-less-than: 02A99;
  --double-line-equal-to-or-greater-than: 02A9A;
  --similar-or-less-than: 02A9D;
  --similar-or-greater-than: 02A9E;
  --similar-above-less-than-above-equals-sign: 02A9F;
  --similar-above-greater-than-above-equals-sign: 02AA0;
  --double-nested-less-than: 02AA1;
  --double-nested-greater-than: 02AA2;
  --greater-than-overlapping-less-than: 02AA4;
  --greater-than-beside-less-than: 02AA5;
  --less-than-closed-by-curve: 02AA6;
  --greater-than-closed-by-curve: 02AA7;
  --less-than-closed-by-curve-above-slanted-equal: 02AA8;
  --greater-than-closed-by-curve-above-slanted-equal: 02AA9;
  --smaller-than: 02AAA;
  --larger-than: 02AAB;
  --smaller-than-or-equal-to: 02AAC;
  --larger-than-or-equal-to: 02AAD;
  --equals-sign-with-bumpy-above: 02AAE;
  --precedes-above-single-line-equals-sign: 02AAF;
  --succeeds-above-single-line-equals-sign: 02AB0;
  --precedes-above-equals-sign: 02AB3;
  --succeeds-above-equals-sign: 02AB4;
  --precedes-above-not-equal-to: 02AB5;
  --succeeds-above-not-equal-to: 02AB6;
  --precedes-above-almost-equal-to: 02AB7;
  --succeeds-above-almost-equal-to: 02AB8;
  --precedes-above-not-almost-equal-to: 02AB9;
  --succeeds-above-not-almost-equal-to: 02ABA;
  --double-precedes: 02ABB;
  --double-succeeds: 02ABC;
  --subset-with-dot: 02ABD;
  --superset-with-dot: 02ABE;
  --subset-with-plus-sign-below: 02ABF;
  --superset-with-plus-sign-below: 02AC0;
  --subset-with-multiplication-sign-below: 02AC1;
  --superset-with-multiplication-sign-below: 02AC2;
  --subset-of-or-equal-to-with-dot-above: 02AC3;
  --superset-of-or-equal-to-with-dot-above: 02AC4;
  --subset-of-above-equals-sign: 02AC5;
  --superset-of-above-equals-sign: 02AC6;
  --subset-of-above-tilde-operator: 02AC7;
  --superset-of-above-tilde-operator: 02AC8;
  --subset-of-above-not-equal-to: 02ACB;
  --superset-of-above-not-equal-to: 02ACC;
  --closed-subset: 02ACF;
  --closed-superset: 02AD0;
  --closed-subset-or-equal-to: 02AD1;
  --closed-superset-or-equal-to: 02AD2;
  --subset-above-superset: 02AD3;
  --superset-above-subset: 02AD4;
  --subset-above-subset: 02AD5;
  --superset-above-superset: 02AD6;
  --superset-beside-subset: 02AD7;
  --superset-beside-and-joined-by-dash-with-subset: 02AD8;
  --element-of-opening-downwards: 02AD9;
  --pitchfork-with-tee-top: 02ADA;
  --transversal-intersection: 02ADB;
  --vertical-bar-double-left-turnstile: 02AE4;
  --long-dash-from-left-member-of-double-vertical: 02AE6;
  --short-down-tack-with-overbar: 02AE7;
  --short-up-tack-with-underbar: 02AE8;
  --short-up-tack-above-short-down-tack: 02AE9;
  --double-up-tack: 02AEB;
  --double-stroke-not-sign: 02AEC;
  --reversed-double-stroke-not-sign: 02AED;
  --does-not-divide-with-reversed-negation-slash: 02AEE;
  --vertical-line-with-circle-above: 02AEF;
  --vertical-line-with-circle-below: 02AF0;
  --down-tack-with-circle-below: 02AF1;
  --parallel-with-horizontal-stroke: 02AF2;
  --parallel-with-tilde-operator: 02AF3;
  --double-solidus-operator: 02AFD;
  --latin-small-ligature-ff: 0FB00;
  --latin-small-ligature-fi: 0FB01;
  --latin-small-ligature-fl: 0FB02;
  --latin-small-ligature-ffi: 0FB03;
  --latin-small-ligature-ffl: 0FB04;
  --mathematical-script-capital-a: 1D49C;
  --mathematical-script-capital-c: 1D49E;
  --mathematical-script-capital-d: 1D49F;
  --mathematical-script-capital-g: 1D4A2;
  --mathematical-script-capital-j: 1D4A5;
  --mathematical-script-capital-k: 1D4A6;
  --mathematical-script-capital-n: 1D4A9;
  --mathematical-script-capital-o: 1D4AA;
  --mathematical-script-capital-p: 1D4AB;
  --mathematical-script-capital-q: 1D4AC;
  --mathematical-script-capital-s: 1D4AE;
  --mathematical-script-capital-t: 1D4AF;
  --mathematical-script-capital-u: 1D4B0;
  --mathematical-script-capital-v: 1D4B1;
  --mathematical-script-capital-w: 1D4B2;
  --mathematical-script-capital-x: 1D4B3;
  --mathematical-script-capital-y: 1D4B4;
  --mathematical-script-capital-z: 1D4B5;
  --mathematical-script-small-a: 1D4B6;
  --mathematical-script-small-b: 1D4B7;
  --mathematical-script-small-c: 1D4B8;
  --mathematical-script-small-d: 1D4B9;
  --mathematical-script-small-f: 1D4BB;
  --mathematical-script-small-h: 1D4BD;
  --mathematical-script-small-i: 1D4BE;
  --mathematical-script-small-j: 1D4BF;
  --mathematical-script-small-k: 1D4C0;
  --mathematical-script-small-l: 1D4C1;
  --mathematical-script-small-m: 1D4C2;
  --mathematical-script-small-n: 1D4C3;
  --mathematical-script-small-p: 1D4C5;
  --mathematical-script-small-q: 1D4C6;
  --mathematical-script-small-r: 1D4C7;
  --mathematical-script-small-s: 1D4C8;
  --mathematical-script-small-t: 1D4C9;
  --mathematical-script-small-u: 1D4CA;
  --mathematical-script-small-v: 1D4CB;
  --mathematical-script-small-w: 1D4CC;
  --mathematical-script-small-x: 1D4CD;
  --mathematical-script-small-y: 1D4CE;
  --mathematical-script-small-z: 1D4CF;
  --mathematical-fraktur-capital-a: 1D504;
  --mathematical-fraktur-capital-b: 1D505;
  --mathematical-fraktur-capital-d: 1D507;
  --mathematical-fraktur-capital-e: 1D508;
  --mathematical-fraktur-capital-f: 1D509;
  --mathematical-fraktur-capital-g: 1D50A;
  --mathematical-fraktur-capital-j: 1D50D;
  --mathematical-fraktur-capital-k: 1D50E;
  --mathematical-fraktur-capital-l: 1D50F;
  --mathematical-fraktur-capital-m: 1D510;
  --mathematical-fraktur-capital-n: 1D511;
  --mathematical-fraktur-capital-o: 1D512;
  --mathematical-fraktur-capital-p: 1D513;
  --mathematical-fraktur-capital-q: 1D514;
  --mathematical-fraktur-capital-s: 1D516;
  --mathematical-fraktur-capital-t: 1D517;
  --mathematical-fraktur-capital-u: 1D518;
  --mathematical-fraktur-capital-v: 1D519;
  --mathematical-fraktur-capital-w: 1D51A;
  --mathematical-fraktur-capital-x: 1D51B;
  --mathematical-fraktur-capital-y: 1D51C;
  --mathematical-fraktur-small-a: 1D51E;
  --mathematical-fraktur-small-b: 1D51F;
  --mathematical-fraktur-small-c: 1D520;
  --mathematical-fraktur-small-d: 1D521;
  --mathematical-fraktur-small-e: 1D522;
  --mathematical-fraktur-small-f: 1D523;
  --mathematical-fraktur-small-g: 1D524;
  --mathematical-fraktur-small-h: 1D525;
  --mathematical-fraktur-small-i: 1D526;
  --mathematical-fraktur-small-j: 1D527;
  --mathematical-fraktur-small-k: 1D528;
  --mathematical-fraktur-small-l: 1D529;
  --mathematical-fraktur-small-m: 1D52A;
  --mathematical-fraktur-small-n: 1D52B;
  --mathematical-fraktur-small-o: 1D52C;
  --mathematical-fraktur-small-p: 1D52D;
  --mathematical-fraktur-small-q: 1D52E;
  --mathematical-fraktur-small-r: 1D52F;
  --mathematical-fraktur-small-s: 1D530;
  --mathematical-fraktur-small-t: 1D531;
  --mathematical-fraktur-small-u: 1D532;
  --mathematical-fraktur-small-v: 1D533;
  --mathematical-fraktur-small-w: 1D534;
  --mathematical-fraktur-small-x: 1D535;
  --mathematical-fraktur-small-y: 1D536;
  --mathematical-fraktur-small-z: 1D537;
  --mathematical-double-struck-capital-a: 1D538;
  --mathematical-double-struck-capital-b: 1D539;
  --mathematical-double-struck-capital-d: 1D53B;
  --mathematical-double-struck-capital-e: 1D53C;
  --mathematical-double-struck-capital-f: 1D53D;
  --mathematical-double-struck-capital-g: 1D53E;
  --mathematical-double-struck-capital-i: 1D540;
  --mathematical-double-struck-capital-j: 1D541;
  --mathematical-double-struck-capital-k: 1D542;
  --mathematical-double-struck-capital-l: 1D543;
  --mathematical-double-struck-capital-m: 1D544;
  --mathematical-double-struck-capital-o: 1D546;
  --mathematical-double-struck-capital-s: 1D54A;
  --mathematical-double-struck-capital-t: 1D54B;
  --mathematical-double-struck-capital-u: 1D54C;
  --mathematical-double-struck-capital-v: 1D54D;
  --mathematical-double-struck-capital-w: 1D54E;
  --mathematical-double-struck-capital-x: 1D54F;
  --mathematical-double-struck-capital-y: 1D550;
  --mathematical-double-struck-small-a: 1D552;
  --mathematical-double-struck-small-b: 1D553;
  --mathematical-double-struck-small-c: 1D554;
  --mathematical-double-struck-small-d: 1D555;
  --mathematical-double-struck-small-e: 1D556;
  --mathematical-double-struck-small-f: 1D557;
  --mathematical-double-struck-small-g: 1D558;
  --mathematical-double-struck-small-h: 1D559;
  --mathematical-double-struck-small-i: 1D55A;
  --mathematical-double-struck-small-j: 1D55B;
  --mathematical-double-struck-small-k: 1D55C;
  --mathematical-double-struck-small-l: 1D55D;
  --mathematical-double-struck-small-m: 1D55E;
  --mathematical-double-struck-small-n: 1D55F;
  --mathematical-double-struck-small-o: 1D560;
  --mathematical-double-struck-small-p: 1D561;
  --mathematical-double-struck-small-q: 1D562;
  --mathematical-double-struck-small-r: 1D563;
  --mathematical-double-struck-small-s: 1D564;
  --mathematical-double-struck-small-t: 1D565;
  --mathematical-double-struck-small-u: 1D566;
  --mathematical-double-struck-small-v: 1D567;
  --mathematical-double-struck-small-w: 1D568;
  --mathematical-double-struck-small-x: 1D569;
  --mathematical-double-struck-small-y: 1D56A;
  --mathematical-double-struck-small-z: 1D56B;
}